
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/CSS/Dashboard_Styles.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-color: #33333d; margin-top: 50px;">
    <div class="row">
        <div class="col-md-3">
            <div>
                <select class="Select_Ingresos">
                    <option> OCTUBRE </option>
                </select>
            </div>
            <br />
            <div class="Ingresos">
                <br />
                <div style="margin-left: 30px;">
                    <p> INGRESOS </p>
                    <br />
                    <p> $4,398.22</p>
                    <br />
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="Egresos">
                <br />
                <div style="margin-left: 30px;">
                    <p> EGRESOS </p>
                    <br />
                    <p> $4,398.22</p>
                    <br />
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="Alineacion">
                <select class="Select_Balance">
                    <option> USUARIO1 </option>
                    @*style="background: url: 'https://logodix.com/logo/1070509.png' no-repeat center left; padding-left:20px;"*@
                </select>
            </div>
            <br />
            <div class="Balance">
                <br />
                <div style="margin-left: 30px;">
                    <p> BALANCE </p>
                    <br />
                    <p> gráfiquita shida</p>
                    <br />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
